@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    min-height: 90vh;
    place-items: center;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .25rem;
    margin-bottom: .75rem;
}

#value {
    font-size: 6rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.btn-container {
    margin-top: 1rem;
}

.btn {
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    padding: .25rem .75rem;
    border: 2px solid black;
    border-radius: .5rem;
    margin-right: .50rem;
    margin-left: .50rem;
    background-color: transparent;
    letter-spacing: .25rem;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    color: white;
    background-color: black;
}